@model Entities.Models.Produto

@{
    ViewData["Title"] = "Delete";
}

<h1>Excluir</h1>

<h3>Você tem certeza que deseja excluir?</h3>
<div>
    <h4>Produto</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.NomeComprador)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.NomeComprador)
        </dd class>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DataVenda)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DataVenda)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="ProdutoId" />
        <p><input type="submit" value="Excluir" class="btn btn-danger" /></p>
        <p><a class="btn btn-primary" asp-controller="MeusProdutos" asp-action="MeusProdutos">Voltar</a></p>
    </form>
</div>
