@model IEnumerable<Entities.Models.Produto>

@{
    ViewData["Title"] = "MeusProdutos";
}

<h1>Meus Produtos</h1>
<td>
    <div class="text-left">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="MeusProdutos" asp-action="Create">Anunciar Produto</a>
        </div>
        <div class="btn-group ">
            <div class="btn-group ">
                <a class="btn btn-success" asp-controller="MeusProdutos" asp-action="ProdutosNegociacao">Produtos em Negociação</a>
            </div>
        </div>
    </div>
    <div><br /></div>
</td>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descricao)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Preco)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Status)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Categoria)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Cidade)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomeComprador)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.DataVenda)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descricao)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Preco)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Status)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Categoria.Nome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Cidade)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeComprador)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.DataVenda)
                </td>
                <td>
                    @* <a asp-action="Details" asp-route-id="@item.ProdutoId">Detalhes</a>*@
                    <div class="text-left">
                        <div class="btn-group ">
                            <a class="btn btn-info" asp-controller="MeusProdutos" asp-route-id="@item.ProdutoId" asp-action="Details">Detalhes</a>
                        </div>
                        <div class="btn-group ">
                            <div class="btn-group ">
                                <a class="btn btn-info" asp-controller="MeusProdutos" asp-route-id="@item.ProdutoId" asp-action="Delete">Excluir</a>
                            </div>
                        </div>
                    </div>
                    @* <a asp-action="Delete" asp-route-id="@item.ProdutoId">Excluir</a>*@
                </td>
            </tr>
        }
    </tbody>
</table>
