@model Entities.Models.Produto



@{ ViewData["Title"] = "Comprar"; }

<h3>Detalhes do Produto</h3>

<div>

    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Preco)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Preco)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Status)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Status)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Categoria)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Categoria.Nome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Cidade)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Cidade)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.NomeVendedor)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.NomeVendedor)
        </dd>

    </dl>
</div>
<div class="row">
    <h3>Imagens</h3>
    <div class="col-md-4">


        @foreach (Entities.Models.Imagem im in Model.Imagens)
        {

            <div class="form-group">
                <img width="300"
                     src=@Url.Action("GetImage", "MeusProdutos", new { id=im.ImagemId})
                     alt=@im.ImageMimeType>
            </div>}

    </div>
</div>

<div class="row">
    <h3>Perguntas e Respostas</h3>
    @foreach (Entities.Models.QuestionAnswer qa in Model.QuestionAnswers)
    {
        <dl class="row">
            <dt class="col-sm-2">
                @qa.User
            </dt>
            <dt class="col-sm-2">
                @qa.Text
            </dt>
        </dl>
    }

</div>

<form asp-controller="Produtos" asp-action="AddQuestion">
    <p>
        <input type="hidden" name="ProdutoId" value="@Model.ProdutoId" />

        Mensagem: <input type="text" name="qaString" />

        <input type="submit" value="Enviar" />
    </p>
</form>

<div>
    <p><a class="btn btn-primary" asp-controller="Produtos" asp-action="Index">Voltar</a></p>
</div>

