@model PL.Componentes.CarrinhoCompraViewModel

<div class="row checkoutForm">
    <h2>Detalhes da sua compra:</h2>

    <table class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>Quantidade</th>
                <th>Produto</th>
                <th class="text-right">Preço</th>
                <th class="text-right">Subtotal</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model.CarrinhoCompra.CarrinhoCompraItens)
            {
                <tr>
                    <td class="text-center">@item.Quantidade</td>
                    <td class="text-left">@item.Produto.Nome</td>
                    <td class="text-right">@item.Produto.Preco.ToString("c")</td>
                    <td class="text-right">
                        @((item.Quantidade * item.Produto.Preco).ToString("c"))
                    </td>
                    <td class="text-center"><a class="btn btn-danger" asp-controller="CarrinhoCompra" asp-action="RemoverItemDoCarrinhoCompra" asp-route-produtoId="@item.Produto.ProdutoId">Excluir</a></td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <td colspan="3" class="text-right">Total:</td>
                <td class="text-right">
                    @Model.CarrinhoCompraTotal.ToString("c")
                </td>
            </tr>
        </tfoot>
    </table>

    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Pedido" asp-action="Checkout">Confirmar Compra</a>
           
        </div>
    </div>
    <ul>
        
    </ul>
    <div class="text-right">
        <div class="btn-group ">
            <a class="btn btn-success" asp-controller="Produtos" asp-action="Index">Retornar para Loja</a>
        </div>
    </div>

</div>
